/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e cores globais */
body {
  font-family: "League Gothic", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background: #03061a;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #131417;
    color: #dedddd;
    margin-top: 2rem;
}
