/* Ajustes para telas menores */
@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
        padding: 1rem;
    }

    .video-text {
        padding-right: 0;
    }

    .video-text h1 {
        font-size: 2rem;
    }

    .video-text p {
        font-size: 1.2rem;
    }

    .video-content iframe {
        height: auto;
    }
}