/* Ajustes para telas menores */
@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        text-align: center;
    }

    .video-text {
        max-width: 90%;
        text-align: center;
    }

    .video-text h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .video-text p {
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .video-content iframe {
        width: 90%;
        max-width: 560px;
        aspect-ratio: 16/9; 
    }
}

@media (max-width: 480px) {
    
    .video-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12rem;
    }

    .video-text {
        max-width: 90%;
        text-align: center;
    }

    .video-text h1 {
        font-size: 1.5rem;
        margin-right: 12rem;
    }

    .video-text p {
        font-size: 1rem;
        margin: 0 auto;
        margin-right: 12rem;
    }

    .video-content iframe {
        width: 100%; 
        max-width: 560px; 
    }
}