header {
    background-color: #03061a;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.25), transparent, rgba(255, 255, 255, 0.1));
    border-radius: 10px;
    flex-wrap: wrap;
  }
  
  /* Logo */
  .logo img {
    height: auto;
    max-height: 120px;
    width: auto;
    max-width: 100%;
  }
  
  /* Menu de navegação */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links li a {
    font-family: "League Gothic", serif;
    color: #dedddd;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s;
    font-size: 1.7rem;
  }
  
  .nav-links li a:hover {
    color: #e67e22;
  }
  
  /* Botão do WhatsApp */
  .whatsapp-btn {
    display: flex;
    align-items: center;
    color: #e67e22;
    font-weight: bold;
    text-decoration: none;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1.5rem;
  }
  
  .whatsapp-btn:hover {
    color: white;
  }
  
  /* Ícone do WhatsApp */
  .whatsapp-btn img {
    height: 30px;
    width: auto;
    margin-right: 0.5rem;
  }
  
  /* Oculta o toggle do menu por padrão */
  .nav-toggle {
    display: none;
  }
  
  /* Ícone do menu hamburguer */
  .nav-toggle-label {
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 2.5rem; 
    height: 2rem;
    background-color: transparent; 
    border-radius: 5px; 
    transition: background-color 0.3s ease-in-out; 
  }
  
  /* Responsividade para telas menores */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    /* Menu hamburguer */
    .nav-toggle-label {
      display: block;
      cursor: pointer;
      width: 40px;
      height: 30px;
      position: relative;
      margin: 1rem 0;
    }
  
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
      content: '';
      background: white;
      height: 4px;
      width: 100%;
      position: absolute;
      left: 0;
      transition: all 0.3s;
    }
  
    .nav-toggle-label span {
      top: 50%;
      transform: translateY(-50%);
    }
  
    .nav-toggle-label span::before {
      top: -12px;
    }
  
    .nav-toggle-label span::after {
      top: 12px;
    }
  
    /* Esconde o menu por padrão */
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    /* Exibe o menu quando o toggle for ativado */
    .nav-toggle:checked ~ .nav-links {
      display: flex;
    }
  
    /* Ajusta a logo para telas pequenas */
    .logo img {
      max-height: 80px;
    }
  
    /* Centraliza o botão do WhatsApp */
    .whatsapp-btn {
      margin-top: 1rem;
      justify-content: center;
    }
  }
  