/* Seção Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    margin: 3rem 0;
    padding: 0 2rem; /* Adicionado para afastar do limite da tela */
}

.hero-texto {
    flex: 1;
    margin-right: 2rem;
}

.hero-texto h1 {
    color: #fa3d00;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-texto p {
    font-family: "Noto Serif Armenian", serif;
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: auto;
    color: #dedddd;
}

.hero-texto button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-top: 20px;
    background-image: url('../img/3.png');
    background-size: 560%;
    background-position: center;
    color: #dedddd;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s;
}

.hero-texto button:hover {
    opacity: 0.9;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

.hero-imagem {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero-imagem::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 85%;
    background-color: #e67e22;
    z-index: 1;
    border-radius: 100%;
    transform: scale(1.2);
    filter: blur(50px);
    opacity: 0.7;
}

.hero-imagem img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}

/* Seção Vídeo */
.rifas {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #030619 60%, #6a0dad 100%);
    text-align: center;
    padding: 2rem 1rem;
}

.rifas-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Aumentado para telas maiores */
    color: #ffffff;
}

/* Título */
.rifas-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Vídeo responsivo */
.rifas-wrapper {
    position: relative;
    width: 100%;
    max-width: 1100px; /* Ajustável para telas grandes */
    padding-bottom: 56.25%; /* Mantém proporção 16:9 */
    overflow: hidden;
    border-radius: 10px;
    border: 4px solid #e67e22; /* Adicionado para borda */
}

.rifas-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Texto abaixo do vídeo */
.rifas-content p {
    margin-top: 15px;
    font-size: 1.5rem;
}

.rifas-content button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-top: 20px;
    background-image: url('../img/3.png');
    background-size: 610%;
    background-position: center;
    color: #dedddd;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s;
}

.rifas-content button:hover {
    opacity: 0.9;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

/* Seção Grupos */
.grupos {
    padding: 2rem 1rem;
    background-color: #03061a;
    text-align: center;
}

.grupos h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.grupo-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.grupo-card {
    background-color: #131417;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.grupo-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grupo-card a {
    display: inline-block;
    background-color: #e67e22;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.grupo-card a:hover {
    background-color: #ff8c42;
    transform: scale(1.05);
}

.grupo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/* Estilização da Seção de Vídeo */
.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, #030619 60%, #6a0dad 100%);
    padding: 2rem;
}

/* Torna o container flexível e responsivo */
.video-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 120%;
    max-width: 1800px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #dedddd;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    gap: 2rem;
}

/* Estilização do texto */
.video-text {
    flex: 1;
    min-width: 400px;
    padding: 2rem;
}

.video-text h1 {
    font-size: 3rem;
    color: #e67e22;
    margin-bottom: 1rem;
}

.video-text p {
    font-family: "Noto Serif Armenian", serif;
    font-size: 1.75rem;
    color: #dedddd;
    margin-bottom: 1.5rem;
}

/* Estilização do vídeo */
.video-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    border: 2px solid #dedddd;
    border-radius: 10px;
}

/* Ajusta o tamanho do wrapper do vídeo */
.video-wrapper {
    width: 100%;
    max-width: 1200px; /* Aumenta esse valor para um vídeo maior */
}

.video-content iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
}

/* Seção Comunidade */
.comunidade {
    text-align: center;
    padding: 4rem 2rem;
  }
  
  .comunidade h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2rem;
  }
  
  /* Container dos itens */
  .comunidade-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    max-width: 2000px;
    margin: 0 auto;
  }
  
  /* Agrupa o card com o link */
  .comunidade-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilo dos cards */
  .comunidade-card {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    border: 2px solid #dedddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    max-width: 280px;
    width: 100%;
  }
  
  .comunidade-card img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid #dedddd;
  }
  
  .comunidade-card h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #dedddd;
  }
  
  /* Estilo dos links */
  .comunidade-item > a {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 20px;
    background-image: url('../img/3.png');
    background-size: 860%;
    background-position: center;
    color: #dedddd;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .comunidade-item > a:hover {
    opacity: 0.9;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
  }
  
  .comunidade-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  

/* Seção Sobre Nós */
.sobre-nos {
    text-align: center;
    padding: 4rem 2rem;
    border-radius: 10px;
    max-width: 100%;
    margin: 0 auto;
}

/* Título */
.sobre-nos h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #dedddd;
}

/* Container das imagens */
.sobre-nos div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Imagens */
.sobre-nos img {
    width: 30%;
}

/* Responsividade */
@media (max-width: 768px) {
    .sobre-nos div {
        flex-direction: column; /* Empilha as imagens em telas pequenas */
    }

    .sobre-nos img {
        width: 90%; /* Reduz a largura das imagens em telas menores */
        max-width: 100%;
    }
}
