header {
  background-color: #03061a;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-start; /* Logo à esquerda no desktop */
  align-items: center;
  padding: 1rem 2rem;
  margin: 25px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.25), transparent, rgba(255, 255, 255, 0.1));
  border-radius: 10px;
  flex-wrap: wrap;
  position: relative;
}

/* Logo */
.logo img {
  height: auto;
  max-height: 120px;
  width: auto;
  max-width: 100%;
}

/* Menu de navegação */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Links do menu */
.nav-links li a {
  font-family: "League Gothic", serif;
  color: #dedddd;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s;
  font-size: 1.7rem;
}

.nav-links li a:hover {
  color: #e67e22;
}

/* Oculta o toggle do menu por padrão */
.nav-toggle {
  display: none;
}

/* Ícone do menu hamburguer */
.nav-toggle-label {
  display: flex; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.5rem; 
  height: 2rem;
  background-color: transparent; 
  border-radius: 5px; 
  transition: background-color 0.3s ease-in-out; 
}
